@import url('https://fonts.googleapis.com/css2?family=Lilita+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display&display=swap');

* {
    box-sizing: border-box;
    user-select: none;
    /* border: 1px red solid; */
}

body {
    font-family: 'Lilita One','Segoe UI', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 100vh;
    overflow: hidden;
    margin: 0;
}

h1 {
    text-transform: uppercase;
    font-size: 3.5rem;
    transition: letter-spacing 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    text-align: center;
    margin-top: -2.5rem;
    /* text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
}

h1:hover {
    letter-spacing: -2px;
}

.caixa {
    background-color: white;
    border: .4rem solid black;
    height: 7rem;
    width: 7rem;
    cursor: pointer;
    font-family: "Fredoka One", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 5rem;
    text-align: center;
    box-sizing: content-box;
}

.caixa:hover {
    box-shadow: rgba(0, 0, 0, 0.20) 0px 0px 300px inset;
}

.tabela {
    border-collapse: collapse;
}

.tabela tr:first-child .caixa {
    border-top: 0;
}

.tabela tr:last-child .caixa {
    border-bottom: 0;
}

.tabela tr .caixa:first-child {
    border-left: 0;
}

.tabela tr .caixa:last-child {
    border-right: 0;
}

.background-fim-do-jogo {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    backdrop-filter: blur(3px);
}

.fim-do-jogo {
    display: none;
    flex-direction: column;
    padding: 1rem;
    position: relative;
    width: 25rem;
    height: 15rem;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    align-items: center;
    justify-content: space-evenly;
    background-color: white;
    border-radius: 1rem;
}

.fim-do-jogo .texto {
    text-align: center;
    font-size: 2rem;
    /* letter-spacing: -0.1rem; */
}

button.replay {
    background-color: #444;
    font-family: inherit;
    font-size: 1.5rem;
    text-transform: uppercase;
    color: white;
    padding: 1rem;
    border-radius: 2rem;
    border: none;
    margin-top: 2rem;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
    transition: transform 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275), background-color 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

button.replay:hover {
    transform: scale(1.08);
    background-color: sienna;
}

.caixa-autoria {
    position: fixed;
    display: flex;
    background-color: #666;
    color: white;
    border-top-left-radius: 0.6rem;
    bottom: 0;
    right: 0;
    align-items: center;
    justify-content: space-evenly;
    height: 40px;
    width: 120px;
    padding: 1rem;
    transition: color 0.2s cubic-bezier(0.075, 0.82, 0.165, 1), background-color 0.2s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.caixa-autoria:hover {
    background-color: black;
    color: olivedrab;
}

.caixa-autoria i {
    font-size: 1.5rem;
}

.caixa-autoria p {
    font-family: 'Big Shoulders Display', cursive;
    font-size: 1.2rem;
    text-transform: uppercase;
}

@media screen and (max-width: 600px) {
    body {
        justify-content: center;
    }

    h1 {
        font-size: 2.5rem;
        margin-bottom: 5rem;
    }

    .fim-do-jogo {
        width: 20rem;
        height: 16rem;
    }

    .fim-do-jogo .texto {
        font-size: 1.8rem;
    }

    button.replay {
        font-size: 1.5rem;
        margin-top: 1rem;
    }
}

@media screen and (max-width: 300px) {
    .caixa {
        width: 5rem;
        height: 5rem;
    }
}